<form [formGroup]="entryForm" (ngSubmit)="onSubmit()" novalidate>
  <div style="margin-bottom: 1em">
    <button type="submit"
            [disabled]="entryForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="suggest" (click)="output()"
            [disabled]="entryForm.pristine" class="btn btn-info">Suggest</button>
    <button type="reset" (click)="revert()"
            [disabled]="entryForm.pristine" class="btn btn-danger">Revert</button>
  </div>
  <!-- Hero Detail Controls -->
  <div class="form-group">
      <label class="center-block">Raw text:
        <input class="form-control" formControlName="bibliographicEntryText">
      </label>
  </div>
  <div class="form-group">
      <label class="center-block">Title:
        <input class="form-control" formControlName="title">
      </label>
  </div>
  <div formArrayName="authors" class="well well-lg">

    <div *ngFor="let author of authors.controls; let i=index">
      <!-- The repeated author template -->
      <h4>Author #{{i + 1}}</h4>
      <div style="margin-left: 1em;">
        <div class="form-group">
          <label class="center-block"> Name:
            <!-- <input class="form-control" formControlName="author"> -->
            <input class="form-control" [formControlName]="i">
            <button (click)="removeAuthor(i)" type="button" class="btn btn-default" aria-label="Remove Author">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </label>
        </div>
        <!-- <div class="form-group"> -->
        <!--   <label class="center-block">Street: -->
        <!--     <input class="form-control" formControlName="street"> -->
        <!--   </label> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <!--   <label class="center-block">City: -->
        <!--     <input class="form-control" formControlName="city"> -->
        <!--   </label> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <!--   <label class="center-block">State: -->
        <!--     <select class="form-control" formControlName="state"> -->
        <!--       <option *ngFor="let state of states" [value]="state">{{state}}</option> -->
        <!--     </select> -->
        <!--   </label> -->
        <!-- </div> -->
        <!-- <div class="form-group"> -->
        <!--   <label class="center-block">Zip Code: -->
        <!--     <input class="form-control" formControlName="zip"> -->
        <!--   </label> -->
        <!-- </div> -->
      </div>
      <br>
      <!-- End of the repeated author template -->
    </div>
    <button (click)="addAuthor()" type="button">Add author</button>
  </div>
  <div class="form-group">
      <label class="center-block">Year:
        <input class="form-control" formControlName="date">
      </label>
  </div>
  <div class="form-group">
      <label class="center-block">References:
        <input class="form-control" formControlName="references">
      </label>
  </div>


  <!-- <div class="form-group radio"> -->
  <!--   <h4>Super power:</h4> -->
  <!--   <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label> -->
  <!--   <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label> -->
  <!--   <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label> -->
  <!-- </div> -->
  <!-- <div class="checkbox"> -->
  <!--   <label class="center-block"> -->
  <!--     <input type="checkbox" formControlName="sidekick">I have a sidekick. -->
  <!--   </label> -->
  <!-- </div> -->
</form>
<p>entry value: {{ entry | json }} </p>
<p>entryForm value: {{ entryForm.value | json}}</p>
