<div *ngIf="entry">
  <accordion-group [heading]=short() [isOpen]="active" [panelClass]="active ? 'panel-primary' : entry.references ? 'panel-success' : 'panel-danger'">
    <div *ngIf="submitted">
      <table class="table table-striped">
        <tbody>
          <tr *ngIf="entry.bibliographicEntryText">
            <td> <label>Text</label> </td>
            <td> {{entry.bibliographicEntryText}} </td>
          </tr>
          <tr *ngIf="entry.references">
            <td> <label>References</label> </td>
            <td> {{entry.references}} </td>
          </tr>
          <tr *ngIf="entry.ocrData.title">
            <td> <label>Title</label> </td>
            <td> {{entry.ocrData.title}} </td>
          </tr>
          <tr *ngIf="entry.ocrData.date">
            <td> <label>Date</label> </td>
            <td> {{entry.ocrData.date}} </td>
          </tr>
          <tr *ngFor="let author of entry.ocrData.authors; let i=index">
            <td> <label> Author #{{i + 1}}</label> </td>
            <td> {{author}} </td>
          </tr>
          <tr *ngIf="entry.ocrData.marker">
            <td> <label>Marker</label> </td>
            <td> {{entry.ocrData.marker}} </td>
          </tr>
          <tr *ngIf="entry.ocrData.comments">
            <td> <label>Comments</label> </td>
            <td> {{entry.ocrData.comments}} </td>
          </tr>
          <tr *ngIf="entry.ocrData.journal">
            <td> <label>Journal</label> </td>
            <td> {{entry.ocrData.journal}} </td>
          </tr>
          <tr *ngIf="entry.ocrData.volume">
            <td> <label>Volume</label> </td>
            <td> {{entry.ocrData.volume}} </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button type="button" class="btn btn-warning" aria-label="Edit" (click)="showForm(true)">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
        </button>
      </div>
    </div>
    <div *ngIf="!submitted">
      <form [formGroup]="entryForm" (ngSubmit)="onSubmit()" novalidate>
        <!-- Hero Detail Controls -->
        <div class="form-group">
          <label class="center-block">Raw text:
            <input class="form-control" formControlName="bibliographicEntryText">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Title:
            <input class="form-control" formControlName="title">
          </label>
        </div>
        <div formArrayName="authors" class="well well-lg">
          <div *ngFor="let author of authors.controls; let i=index">
            <!-- The repeated author template -->
            <h4>Author #{{i + 1}}</h4>
            <div style="margin-left: 1em;">
              <div class="form-group">
                <label class="center-block"> Name:
                  <!-- <input class="form-control" formControlName="author"> -->
                  <input class="form-control" [formControlName]="i">
                  <button (click)="removeAuthor(i)" type="button" class="btn btn-default" aria-label="Remove Author">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </label>
              </div>
            </div>
            <br>
            <!-- End of the repeated author template -->
          </div>
          <button (click)="addAuthor()" type="button">Add author</button>
        </div>
        <div class="form-group">
          <label class="center-block">Year:
            <input class="form-control" formControlName="date">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Journal:
            <input class="form-control" formControlName="journal">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Volume:
            <input class="form-control" formControlName="volume">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Marker:
            <input class="form-control" formControlName="marker">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Comments:
            <input class="form-control" formControlName="comments">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">References:
            <input type="search" class="form-control" formControlName="references">
          </label>
        </div>

        <div style="margin-top: 1em" align="right">
          <button type="button" class="btn btn-default" (click)="showForm(false)">
            Cancel
          </button> &nbsp;
          <button type="button" (click)="revert()"
            [disabled]="entryForm.pristine" class="btn btn-warning">Revert</button> &nbsp;
          <button type="submit"
            [disabled]="entryForm.pristine" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </accordion-group>
</div>
