<div class="panel panel-default">
  <!-- Panel heading including search bar -->
  <div class="panel-heading">
    <div class="row justify-content-between">
      <div class="col-xs-10 text-left">
        <textarea class="form-control" [(ngModel)]="suggestfield" rows="3" style="resize: none;"></textarea>
      </div>
      <div class="col-xs-2 text-right">
        <div class="bottom-column">
          <button type="button" class="btn btn-success" aria-label="Search" (click)="refreshSuggestions()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Panel body providing suggestions -->
  <div class="panel-body">
    <div class="list-group suggestions">
   <a href="#" *ngFor="let r of internalSuggestions" [attr.class]="selectedResource == r ? 'list-group-item list-group-item-action list-group-item-info selected' : 'list-group-item list-group-item-action list-group-item-info'" (click)="onSelect(r)">
   <app-resource-form [entry]="entry" [exSuggests]="externalSuggestions" [resource]="r" [folded]="true"></app-resource-form>
   </a>
    <!-- for testing purposes -->
    <!--<a href="#" class="list-group-item list-group-item-action list-group-item-info">
    <app-resource-form [entry]="entry" [exSuggests]="externalSuggestions" [resource]="testresource" [folded]="true"></app-resource-form>
    </a>-->
    <!--      -->
    </div>
  </div>

  <!-- Panel footer allowing actions -->
  <div class="panel-footer">
    <div class="row justify-content-between">
      <div class="col-xs-6 text-left">
        <button type="button" class="btn btn-info" aria-label="Search" (click)="plusPressed()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-primary" [disabled]="!selectedResource" (click)="commit()">
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Commit Link
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="committed" class="alert alert-success" role="alert">
  <strong>Link committed.</strong>
</div>
<!-- ...(click)="lgModal.show()"> -->
<!-- Do not delete the following code, it will be useful in the edit form. -->
<!-- <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
<!--   <div class="modal-dialog modal-lg"> -->
<!--     <div class="modal-content"> -->
<!--       <div class="modal-header"> -->
<!--         <h4 class="modal-title pull-left">External Bibliographic Resources</h4> -->
<!--         <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close"> -->
<!--           <span aria-hidden="true">&times;</span> -->
<!--         </button> -->
<!--       </div> -->
<!--       <div class="modal-body"> -->
<!--         <form> -->
<!--           <div class="checkbox" *ngFor="let r of externalSuggestions"> -->
<!--             <label> -->
<!--               <input type="checkbox"> -->
<!--               <span class="badge">{{ r.identifiers[0].scheme }}</span> -->
<!--               <b>{{r.ocrData.authors}}</b> <em>{{ r.ocrData.title }}</em>. -->
<!--               <ul> -->
<!--                 <li *ngFor="let identifier of r.identifiers"> -->
<!--                   <span class="badge">{{ identifier.scheme }}</span> {{ identifier.literalValue }} -->
<!--                 </li> -->
<!--               </ul> -->
<!--             </label> -->
<!--           </div> -->
<!--           <div align="right"> -->
<!--             <button type="submit" class="btn btn-primary">Submit</button> -->
<!--           </div> -->
<!--         </form> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
