.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom
}

.selected{
    background-color: #3AB1FF !important;
    color: #607D8B;
}

.suggestions a:hover {
    color: #607D8B;
    background-color: #DDD;
}


.loader {
    border: 16 px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
