<div class="text-right" style="margin-top: 1em;">
  <button (click)="refresh()" type="button" class="btn btn-secondary" aria-label="Refresh">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>
</div>
<div style="margin-top: 1em; margin-bottom: 1em;">
  <accordion>
    <div *ngIf="loading" class="loader">
    </div>
    <div *ngFor="let t of todos">
      <app-resource-form [resource]="t"></app-resource-form>
      <div class="list-group">
        <a href='#' class="list-group-item list-group-item-action list-group-item-info" *ngFor="let s of t.scans; let i = index" (click)="onSelectScan(s); false">
          <button type="button" class="close pull-right" (click)="deleteScan(i, t); $event.stopPropagation()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Scan {{ trimHash(s._id) }}
          <span class="badge badge-default badge-pill">{{ printState(s) }}</span>
        </a>
        <div *ngFor="let c of t.children" style="margin-left: 1em;">
          <app-resource-form [resource]="c"></app-resource-form>
          <!-- scans attached to children of resource -->
          <a href="#" class="list-group-item list-group-item-action list-group-item-info" *ngIf="state === states.ext" (click)="onSelectExternal(c); false">
            External References
            <span class="label label-danger">{{provenance.crossref}}</span>
          </a>
          <div *ngFor="let s of c.scans; let i = index">
            <a href="" class="list-group-item list-group-item-action list-group-item-info" (click)="onSelectScan(s); false">
              <button type="button" class="close pull-right" (click)="deleteScan(i, c); $event.stopPropagation()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Scan {{ trimHash(s._id) }} on pp. {{s.firstPage}}-{{s.lastPage}}
              <span class="badge badge-default badge-pill">{{ printState(s) }}</span>
            </a>
          </div>
        </div>
      </div>
    </div> <!-- end of for loop -->
  </accordion>
  <hr>
</div>
<div class="text-right">
  <button (click)="refresh()" type="button" class="btn btn-secondary" aria-label="Refresh">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
  </button>
</div>
