<div style="margin-bottom: 1em" align="right">
	<button class="btn btn-info">Suggest</button>
</div>
<form [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate>
  <!-- 
  _id: string;
  identifiers?: Identifier[];
  type?: string;
  title?: string;
  subtitle?: string;
  edition?: string;
  number?: number;
  contributors?: AgentRole[];
  publicationYear?: number;
  parts?: BibliographicEntry[];
  partOf?: string;
  embodiedAs?: ResourceEmbodiment[];-->
  <div class="form-group">
  	<label>Title</label>
  	<input class="form-control" formControlName="title">
  </div>
  <div class="form-group">
  	<label>Subtitle</label>
  	<input class="form-control" formControlName="subtitle">
  </div>
  <div class="form-group">
  	<label>Type</label>
  	<input class="form-control" formControlName="resourcetype">
  </div>
  <div class="form-group">
  	<label>Edition</label>
  	<input class="form-control" formControlName="edition">
  </div>
  <div class="form-group">
  	<label>Number</label>
  	<input class="form-control" formControlName="resourcenumber">
  </div>
  <!-- ngfor roleout -->
  <div class="form-group">
  	<div class="form-group" *ngFor="let contributorForm of contributorsForms; let i=index">
  	<form class="form-inline" [formGroup]="contributorForm" (ngSubmit)="onSubmit()" novalidate>
	  	<label>Role</label>
	  	<input class="form-control" formControlName="role"><!-- Dropdownmenu, List of Roles -->
	  	<!--dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown-->
	  	<br>
	  	<label>Name</label>
	  	<input class="form-control" formControlName="name">
	  	<button type="button" class="btn btn-warning" (click)="delContributorField(i)">Delete</button>
	  	</form>
	  	
  	</div>
  	<button  type="button" class="btn btn-success" (click)="addContributorField()">New</button>
  </div>
  <!-- add + remove button -->
  <div class="form-group">
  	<label>Publication Year</label>
  	<input class="form-control" formControlName="publicationyear">
  </div>
  <div class="form-group">
  	<label>Parts</label>
  	<input class="form-control" formControlName="parts">
  </div>
  <div class="form-group">
  	<label>PartOf</label>
  	<input class="form-control" formControlName="partof"> <!-- mehrere möglichkeiten -->
  </div>
  <div class="form-group">
  	<label>embodied as</label>
  	<input class="form-control" formControlName="embodiedas"> <!-- mehrere möglichkeiten -->
  </div>
</form>