<button class="btn btn-success pull-left" (click)="toggleEdit()">Edit</button>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<div *ngIf="!editable">
    <!--<div *ngIf="resource.title" class="row">
        <div class="col-md-2">
            <label>Title:</label> 
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <pre>{{resource.title}}</pre>
        </div>
    </div>
    <div *ngIf="resource.subtitle" class="row">
        <div class="col-md-2">
            <label>Subtitle:</label> 
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {{resource.subtitle}}
        </div>
    </div>
    
    <div *ngIf="resource.type" class="row">
        <div class="col-md-2">
            <label>Type:</label> 
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {{resource.type}}
        </div>
    </div>
    
    <div *ngIf="resource.edition" class="row">
        <div class="col-md-2">
            <label>Edition:</label> 
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {{resource.edition}}
        </div>
    </div>
    <div *ngIf="resource.contributors">
        <div  class="row">
        <div class="col-md-4">
            <label>Contributors:</label> 
        </div>
        <div class="col-md-5">
        Name
        </div>
        <div class="col-md-3">
        Role
        </div>
        </div>
        
        <div *ngFor="let contrib of resource.contributors" class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5">
        {{contrib.heldBy.nameString}}
        </div>
        <div class="col-md-3">
        {{contrib.roleType}}
        </div>
        </div>
        
    </div>
    
    <div *ngIf="resource.publicationYear" class="row">
        <div class="col-md-2">
            <label>Publication year:</label> 
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {{resource.publicationYear}}
        </div>
    </div>
    
    <div *ngIf="resource.partOf" class="row">
        <div class="col-md-2">
            <label>Part of:</label> 
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            {{resource.partOf}}
        </div>
    </div>-->
<table class="table table-striped">
 <tbody>
    <tr *ngIf="resource.title">
        <td>
            <label>Title</label> 
        </td>
        <td>
            {{resource.title}}
        </td>
    </tr>
    
    <tr *ngIf="resource.subtitle">
        <td>
            <label>Subtitle</label> 
        </td>
        <td>
            {{resource.subtitle}}
        </td>
    </tr>
    
    <tr *ngIf="resource.edition">
        <td>
            <label>Edition</label> 
        </td>
        <td>
            {{resource.edition}}
        </td>
    </tr>
    
    <tr *ngIf="resource.type">
        <td>
            <label>Type</label> 
        </td>
        <td>
            {{resource.type}}
        </td>
    </tr>
    <tr *ngIf="resource.number">
        <td>
            <label>Number</label> 
        </td>
        <td>
            {{resource.number}}
        </td>
    </tr>
       
<!--   contribs   -->
    <tr *ngIf="resource.contributors">
        <td>
            <label>Contributors</label> 
        </td>
        <td>
        </td>
        </tr>
        
        <tr *ngFor="let contrib of resource.contributors">
        <td>
        {{contrib.roleType}}
        </td>
        <td>
        {{contrib.heldBy.nameString}}
        </td>
        </tr>
        
    
    
    <tr *ngIf="resource.publicationYear">
        <td>
            <label>Pub. year</label> 
        </td>
        <td>
            {{resource.publicationYear}}
        </td>
    </tr>
    
    <tr *ngIf="resource.partOf">
        <td>
            <label>Part of</label> 
        </td>
        <td>
            {{resource.partOf}}
        </td>
    </tr>
    </tbody>
    </table>
</div>



<form *ngIf="editable" [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate>
<!-- 
_id: string;
identifiers?: Identifier[];
type?: string;
title?: string;
subtitle?: string;
edition?: string;
number?: number;
contributors?: AgentRole[];
publicationYear?: number;
parts?: BibliographicEntry[];
partOf?: string;
embodiedAs?: ResourceEmbodiment[];-->
<table class="table table-striped">
 <tbody>
    <tr>
        <td>
            <label>Title</label> 
        </td>
        <td>
        <textarea class="form-control" formControlName="title" style="resize: none;"></textarea>
        </td>
    </tr>
    
    <tr>
        <td>
            <label>Subtitle</label> 
        </td>
        <td>
            <input class="form-control" formControlName="subtitle">
        </td>
    </tr>
    
    <tr>
        <td>
            <label>Edition</label> 
        </td>
        <td>
            <input class="form-control" formControlName="edition">
        </td>
    </tr>
    
    <tr>
        <td>
            <label>Type</label> 
        </td>
        <td>
            <input class="form-control" formControlName="resourcetype">
        </td>
    </tr>
    <tr>
        <td>
            <label>Number</label> 
        </td>
        <td>
            <input class="form-control" formControlName="resourcenumber">
         </td>
    </tr>
    
<!--   contribs   -->

    <tr>
        <td>
            <label>Contributors</label> 
        </td>
        <td>
        </td>
        </tr>
        <tr *ngFor="let contributorForm of contributorsForms">
        <td>
        </td>
        <td>
        <form [formGroup]="contributorForm" (ngSubmit)="onSubmit()" novalidate>
        <table>
        <tbody>
        <tr>
        <td>
        <select class="form-control" formControlName="role">
                            <option *ngIf="contributorForm.value.role =='' " selected="selected" disabled="true">--Please Select --</option>
                            <option *ngFor="let item of roles" selected="{{contributorForm.value.role == item ? 'selected' : ''}}">{{item}}</option>
        </select>
        </td>
        <td>
        <input class="form-control" formControlName="name">
        </td>
        <td>
        <button type="button" class="btn btn-warning pull-right" (click)="delContributorField(i)">Delete</button>
        </td>
        </tr>
        </tbody>
        </table>
        </form>
        </td>
    </tr>
    <tr>
    <td>
    </td>
    <td>
     <button  type="button" class="btn btn-success" (click)="addContributorField()">New</button>
     </td>
     </tr>
        
    
    
    <tr>
        <td>
            <label>Pub. year</label> 
        </td>
        <td>
        <input class="form-control" formControlName="publicationyear">
        </td>
    </tr>
    
    <tr>
        <td>
            <label>Part of</label> 
        </td>
        <td>
        <input class="form-control" formControlName="partof">
        </td>
    </tr>
    </tbody>
</table>

<button type="button" class="btn btn-danger" (click)="resetEntries()">Reset</button>
<button class="btn btn-success pull-right">Submit</button>
</form>

<!--
<div class="form-group">
        <label>Title</label>
        <input class="form-control" formControlName="title">
</div>
<div class="form-group">
        <label>Subtitle</label>
        <input class="form-control" formControlName="subtitle">
</div>
<div class="form-group">
        <label>Type</label>
        <input class="form-control" formControlName="resourcetype">
</div>
<div class="form-group">
        <label>Edition</label>
        <input class="form-control" formControlName="edition">
</div>
<div class="form-group">
        <label>Number</label>
        <input class="form-control" formControlName="resourcenumber">
</div>
<!-- ngfor roleout -->
<!--<div class="form-group">
<label>Contributors:</label>
        <div class="form-group" *ngFor="let contributorForm of contributorsForms; let i=index">
        <form class="form-horizontal" [formGroup]="contributorForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                <div class="col-md-1">
                <label> {{i+1}}. </label>
                </div>
                <div class="col-md-2">
                    <label>Name</label>
                    </div>
                    <div class="col-md-8">
                    <input class="form-control" formControlName="name">
                </div>
                <div class="col-md-1"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label>Role</label>
                    </div>
                     <div class="col-md-4">
                        <select class="form-control" formControlName="role">
                            <option *ngIf="contributorForm.value.role =='' " selected="selected" disabled="true">--Please Select --</option>
                            <option *ngFor="let item of roles" selected="{{contributorForm.value.role == item ? 'selected' : ''}}">{{item}}</option>
                        </select>
                    </div> 
                    <div class="col-md-4">
                        <button type="button" class="btn btn-warning pull-right" (click)="delContributorField(i)">Delete</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                </form>
                
        </div>
        <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6"></div>
            <div class="col-md-2">
            <button  type="button" class="btn btn-success" (click)="addContributorField()">New</button>
            </div>
            <div class="col-md-4"></div>
        </div>
        </form>
</div>
<!-- add + remove button
<div class="form-group">
        <label>Publication Year</label>
        <input class="form-control" formControlName="publicationyear">
</div>
<div class="form-group"  *ngIf="parts.length>0" >
        <label>Parts:</label>
        <div class="form-group" *ngFor="let part of parts; let i=index">
        <form class="form-group" [formGroup]="part" (ngSubmit)="onSubmit()" novalidate>
                <label>ID</label>
                <input class="form-control" formControlName="id">
                <label>bibliographicEntryText</label>
                <input class="form-control" formControlName="bibliographicEntryText">
                <label>references</label>
                <input class="form-control" formControlName="references">
                <label>coordinates</label>
                <input class="form-control" formControlName="coordinates">
                <label>scanId</label>
                <input class="form-control" formControlName="scanId">
                <label>status</label>
                <input class="form-control" formControlName="status">
        </form>
                
        </div>
</div>
<div class="form-group">
        <label>PartOf</label>
        <input class="form-control" formControlName="partof"> <!-- mehrere möglichkeiten
</div>
<div class="form-group" *ngIf="embodiments.length>0" >
        <label>Embodiments:</label>
        <div class="form-group" *ngFor="let embodiment of embodiments; let i=index">
        <form class="form-group" [formGroup]="embodiment" (ngSubmit)="onSubmit()" novalidate>
                <label>typeMongo</label>
                <input class="form-control" formControlName="typeMongo">
                <label>Format</label>
                <input class="form-control" formControlName="format">
                <label>firstPage</label>
                <input class="form-control" formControlName="firstPage">
                <label>lastPage</label>
                <input class="form-control" formControlName="firstPage">
                <label>url</label>
                <input class="form-control" formControlName="url">
        </form>
                
        </div>
</div>
<button type="button" class="btn btn-danger" (click)="resetEntries()">Reset</button>
<button class="btn btn-success pull-right">Submit</button>
</form>-->