<div *ngIf="resource && alternate">
  <div *ngIf="!alternateIsActive">
    <b>Editing own meta-data</b>&nbsp;
    <button type="default" class="btn btn-secondary btn-sm" *ngIf="!alternateIsActive" (click)="toggleAlternate()">
      Switch to Container Metadata
    </button>&nbsp;
    <button type="default" class="btn btn-warning btn-sm" (click)="disconnectFromAlternate()">Disconnect from container</button>
  </div>
  <div *ngIf="alternateIsActive">
    <b> Editing container's metadata </b>
    <button type="default" class="btn btn-secondary btn-sm" *ngIf="alternateIsActive" (click)="toggleAlternate()">
      Switch to Own Metadata
    </button>
  </div>
  <div *ngIf="!resource.partOf || resource.partOf !== alternate._id" class="alert alert-warning" role="alert">
    Resource is not properly linked to its container.
    <button type="default" class="btn btn-secondary btn-sm" (click)="fixPartOf()">Fix it.</button>
  </div>
</div>
<div *ngIf="resource && !alternate">
  <div *ngIf="!!resource.partOf" class="alert alert-warning" role="alert">
    Resource is not properly marked as stand-alone.
    <button type="default" class="btn btn-secondary btn-sm" (click)="fixPartOf()">Fix it.</button>
  </div>
  <div class="alert alert-info" role="alert">
    Standalone Resource&nbsp;
    <button type="default" class="btn btn-secondary btn-sm" (click)="createNewContainer()">Create new container</button>&nbsp;
    <button type="default" class="btn btn-secondary btn-sm" (click)="isLinking = true">Link to container</button>
    <!-- typeahead partOf -->
    <div *ngIf="isLinking" style="margin: .75rem;" class="form-group row">
      <input autocomplete="off"
             class="form-control"
             [(ngModel)]="asyncSelected"
             [typeahead]="dataSource"
             (typeaheadOnSelect)="typeaheadOnSelect($event)"
             [typeaheadOptionsLimit]="7"
             typeaheadWaitMs="1000"
             typeaheadOptionField="name"
             [placeholder]="typeaheadPlaceholder">
    </div>
  </div>
</div>
{{ resource | json }} 
<div *ngIf="isLoading" class="loader"></div>
<hr/>
<div *ngIf="!alternateIsActive && resource">
  <!-- Just a resource form, if no alternate is given -->
  <app-resource-form [resource]="resource" (resourceChange)="onResourceChange($event)"></app-resource-form>
</div>
<div *ngIf="alternateIsActive && alternate">
  <app-resource-form [resource]="alternate" (resourceChange)="onAlternateChange($event)"></app-resource-form>
</div>
