<div class="row">
  <!-- Scan: {{ scan | json }}<br> -->
  <!-- Entry: {{ entry | json}}<br> -->
  <div [class]="boxEditMode? 'col-xs-12 col-sm-12 col-md-12' : 'col-xs-12 col-sm-6 col-md-6'">

    <div class="card">
      <div class="card-header"  *ngIf="!sorry_text && !boxEditMode">
        <!-- <button type="button" class="btn btn-secondary" (click)="showrefs()">
          Ref view
          </button> -->
          <h4> {{title }} </h4>
          <p><app-metadata [of]="resource" [in]="parentResource"></app-metadata></p>
          <div class="row">
            <div class="col-sm-4">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                <div class="btn-group" role="group" aria-label="Toggle scan view">
                  <button type="button" class="btn btn-secondary" (click)="showScan()" [class.active]="scanIsVisible">
                    Scan view
                  </button>
                  <button type="button" class="btn btn-secondary" (click)="hideScan()" [class.active]="!scanIsVisible">
                    Reference list
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <!-- the scan-inspector.service has to be initialized with the correct scan index befor the pagination is loaded,
                to prevent fallback to first page -->
                <!-- <div class="pull-right" *ngIf="scanIsVisible && paginationInitialized"> -->
                <div class="pull-right" *ngIf="allScans">
                  <pagination [totalItems]="allScans.length" [itemsPerPage]="1" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
                </div>
                <!-- </div> -->
            </div>
          </div>
          <!-- Filter selector -->
          <div class="row" style="margin-left: 10px">
            <div class="col-md-3" *ngFor="let attribute of filter_attributes" style="margin-right: 15px">
              <label for="source" class="col-form-label">
                {{attribute | titlecase }}:</label>
              <div id="{{attribute}}">
                <select [(ngModel)]="selection[attribute]" class="form-control" >
                  <option *ngFor="let opt of filter_options[attribute]"
                                                           [value]="opt.name">{{opt.name}}</option>
                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="card-header" *ngIf="!sorry_text && boxEditMode">
          <div class="row" style="">
            <div class="col-md-12">
              <div class="btn-group mr-2" role="group" aria-label="Select bounding box editing mode">
                <button type="button" Class="btn btn-secondary" (click)="toggleBoxEditMode()">
                  <i class="fa fa-remove"></i> Cancel
                </button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Zooming controls">
                <button (click)="zoomIn()" class="btn btn-secondary">
                  <i class="fa fa-search-plus"></i> </button>
                <button (click)="zoomOut()" class="btn btn-secondary">
                  <i class="fa fa-search-minus"></i></button>
                <button (click)="zoomReset()" class="btn btn-secondary">
                  <i class="fa fa-compress"></i> </button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Select bounding box editing mode">
                <button type="button"
                [ngClass]="getMode() === 'select' ? 'btn btn-secondary active' : 'btn btn-secondary'"
                (click)="setMode('select')">
                  <span aria-hidden="true"></span> <i class="fa fa-arrows-alt"></i> Adjust
                </button>
                <button type="button"
                [ngClass]="getMode() === 'add' ? 'btn btn-secondary active' : 'btn btn-secondary'"
                (click)="setMode('add')">
                  <span aria-hidden="true"></span><i class="fa fa-plus-square "></i> Add
                </button>
                <button type="button"
                [ngClass]="getMode() === 'delete' ? 'btn btn-secondary active' : 'btn btn-secondary'"
                (click)="setMode('delete')">
                  <span aria-hidden="true"></span><i class="fa fa-times-circle"></i>  Delete
                </button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Select bounding box editing mode">
                <button type="button" class="btn btn-success" (click)="saveBoxes()">
                  <i class="fa fa-save"></i> Save Bounding Boxes
                </button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Select bounding box editing mode">
                <button type="button" class="btn btn-success" (click)="saveBoxes(exit=true)">
                  <i class="fa fa-save"></i> Save and Exit
                </button>
              </div>
              <div class="btn-group mr-2 float-right" role="group" aria-label="Select bounding box editing mode">
                <button type="button" Class="btn btn-secondary" (click)="editModeFilter = !editModeFilter">
                  <i class="fa fa-angle-double-down "></i> Filters
                </button>
              </div>
            </div>
          </div>
          <!-- Filter selector -->
          <div class="row" style="margin-top: 10px" *ngIf='editModeFilter'>
            <div class="col-md-3" *ngFor="let attribute of filter_attributes" style="margin-right: 15px">
              <label for="source" class="col-form-label">
                {{attribute | titlecase }}:</label>
              <div id="{{attribute}}">
                <select [(ngModel)]="selection[attribute]" class="form-control" >
                  <option *ngFor="let opt of filter_options[attribute]"
                                                           [value]="opt.name">{{opt.name}}</option>
                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="card-header" *ngIf="sorry_text">
        <p> {{sorry_text}} </p>
      </div>
      <div class="card-body"  *ngIf="!sorry_text">

        <div *ngIf="scanIsDisplayable" [hidden]="!scanIsVisible" [style.height]="imgheight">
          <app-display [img_src]="scanUrl" [entries]="refs" [selectedEntry]="entry"
           [boxEditMode]="boxEditMode"
           (entry)="selectEntry($event)"
           (imglength)="setHeight()"
           (deleteEntry)="deleteEntry($event)"
           (updateEntry)="updateEntry($event)"
           #display></app-display>
        </div>
        <div [hidden]="!scanIsVisible" *ngIf="!scanIsDisplayable">
          <p><em> Displaying raw, unprocessed PDF.</em></p>
          <p> {{pageVariable}} </p>
          <pdf-viewer [src]="scanUrl"
           [render-text]="true"
           style="display: block;"></pdf-viewer>
        </div>
        <div [hidden]="scanIsVisible">
        <hr/>
          <app-entry-list [resource]="resource" [entries]="refs" [selectedEntry]="entry"
           (entry)="selectEntry($event)" (openEdit)="triggerEdit($event)"></app-entry-list>
        </div>
        <div *ngIf="loading" class="loader">
        </div>
      </div> <!-- End of body -->
      <div class="card-footer"  *ngIf="!sorry_text && !boxEditMode">
        <div *ngIf="scanIsDisplayable && scanIsVisible" class="btn btn-toolbar" role="toolbar" aria-label="Controls for scan view">
          <div class="btn-group mr-2" role="group" aria-label="Zooming controls">
            <button (click)="zoomIn()" class="btn btn-secondary"><i class="fa fa-search-plus"></i> </button>
            <button (click)="zoomOut()" class="btn btn-secondary"><i class="fa fa-search-minus"></i></button>
            <button (click)="zoomReset()" class="btn btn-secondary"> <i class="fa fa-compress"></i> </button>
            <button (click)="zoomOnSelected()" class="btn btn-secondary"> <i class="fa fa-expand"></i> </button>

          </div>

          <!-- <div class="btn-group mr-2" role="group" aria-label="Select bounding box editing mode">
            <button type="button" [ngClass]="getMode() === 'select' ? 'btn btn-secondary active' : 'btn btn-secondary'" (click)="setMode('select')">
              <span aria-hidden="true"></span> Select
            </button>
            <button type="button" [ngClass]="getMode() === 'add' ? 'btn btn-secondary active' : 'btn btn-secondary'"  (click)="setMode('add')">
              <span aria-hidden="true"></span> Add
            </button>
            <button type="button" [ngClass]="getMode() === 'delete' ? 'btn btn-secondary active' : 'btn btn-secondary'"  (click)="setMode('delete')">
              <span aria-hidden="true"></span> Delete
            </button>
          </div> -->
          <div class="btn-group mr-2" role="group" aria-label="Edit Bounding Boxes">
            <button type="button" class="btn btn-secondary" (click)="toggleBoxEditMode()">
              <i class="fa fa-edit"></i> Edit Bounding Boxes
            </button>
          </div>
          <div class="btn-group float-right" role="group" aria-label="Add Entry">
            <button type="button" class="btn btn-primary float-right" (click)="newEntry()">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Add Entry
            </button>
          </div>
        </div>
          <div *ngIf="!scanIsDisplayable || !scanIsVisible" class="btn btn-toolbar" role="toolbar" aria-label="Controls for scan view">
            <div class="btn-group float-right" role="group" aria-label="Add Entry">
              <button type="button" class="btn btn-primary float-right" (click)="newEntry()">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Add Entry
              </button>
            </div>
        </div>
      </div> <!-- End of footer -->
    </div> <!-- End of card -->
  </div> <!-- End of column -->
  <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="!boxEditMode">
    <!-- <app-suggestion [entry]="entry" (suggest)='updateTarget($event)'></app-suggestion> -->
    <div *ngIf="entry">
      <app-suggestion [entry]="entry"></app-suggestion>
    </div>
  </div>
</div>
