<p class="mb-0" *ngIf="of">
  <span class="badge badge-primary"> {{ of.type }}</span>
  <span *ngIf="of.publicationDate" class="badge badge-info ml-1"> {{ of.publicationDate | date:'yyyy' }}</span>
  {{ of.contributors | authors:'; ':': ' }}
  <!-- Only show publisher here if not contained in some other resource -->
  <span *ngIf="!in">
    <!-- No container present, show flattened properties here -->
    <span [ngSwitch]="black_magic(of.type)">
      <span *ngSwitchCase="journal-like">
        <!-- Issue or Volume -->
        <strong>
          {{ of.astype(resourceType.journal).title }}
          {{ of.astype(resourceType.journal).subtitle }}
          {{ of.astype(resourceType.journalVolume).number }}
        </strong>
      </span>
      <span *ngSwitchCase="book-like">
        <!-- Issue or Volume -->
        <strong>{{ in.title }} {{ in.subtitle }}</strong>
        {{ of.astype(resourceType.bookSeries).title | prefix }}
        {{ of.astype(resourceType.bookSeries).number }}
        {{ of.astype(resourceType.bookSet).title | prefix }}
      </span>
      <span *ngSwitchDefault>
        <strong>
          {{ of.title }} {{ of.subtitle }} {{ of.number }}
        </strong>
      </span>
    </span>
    <span>{{ of.contributors | publisher | prefix }}.</span>
  </span>
  <span *ngIf="!!in">
    <!-- Both child and parent are given -->
    <strong>
      {{ of.title }} {{ of.subtitle }} {{ of.number }}
    </strong>
    <em> in: </em>
    <span class="badge badge-primary"> {{ in.type }}</span>
    {{ in.contributors | editors }}
    <span [ngSwitch]="black_magic(in.type)">
      <span *ngSwitchCase="journal-like">
        <!-- Issue or Volume -->
        "journal-like"
        <strong>
          {{ in.astype(resourceType.journal).title }}
          {{ in.astype(resourceType.journal).subtitle }}
          {{ in.astype(resourceType.journalVolume).number }}
        </strong>
      </span>
      <span *ngSwitchCase="book-like">
        "book-like"
        <strong>{{ in.title }} {{ in.subtitle }}</strong>
        {{ in.astype(resourceType.bookSeries).title | prefix}}
        {{ in.astype(resourceType.bookSeries).number }}
        {{ in.astype(resourceType.bookSet).title | prefix }}
      </span>
      <span *ngSwitchDefault>
        "nothing-like"
        <strong>
          {{ in.title }} {{ in.subtitle }} {{ in.number }}
        </strong>
      </span>
    </span>
    {{ in.contributors | publisher | prefix }}
  </span>
  <!-- Some information that is only available when child is given -->
  <span *ngIf="of.embodiedAs && of.embodiedAs.length && of.embodiedAs[0].firstPage && of.embodiedAs[0].lastPage">
    (pp. {{ of.embodiedAs[0].firstPage}}-{{ of.embodiedAs[0].lastPage }})
  </span>
  <a class="badge badge-info ml-1" *ngIf="findIdentifier(of.identifiers, 'URL_CROSSREF')" [href]="findIdentifier(of.identifiers, 'URL_CROSSREF')" target="_blank">
    <i class="fa fa-external-link"></i> CrossRef
  </a>
  <a class="badge badge-info ml-1" *ngIf="findIdentifier(of.identifiers, 'DOI')" [href]="doi2url(findIdentifier(of.identifiers, 'DOI'))" target="_blank">
    <i class="fa fa-external-link"></i> DOI
  </a>
  <span class="badge badge-warning ml-1" *ngIf="in || of">{{in?.data?.source || of?.data?.source}}</span>
</p>
