<p class="mb-0">
  <span *ngIf="of">
    <span *ngIf="of.type" class="badge badge-primary"> {{ of.type }}</span>
    <span *ngIf="of.publicationDate" class="badge badge-info ml-1"> {{ of.publicationDate | date:'yyyy' }}</span>
    {{ of.contributors | authors:'; ':': ' }}
    <b *ngIf="of.title || of.subtitle"> {{of.title}} {{ of.subtitle }} </b>
    <!-- Only show publisher if not contained in some other resource -->
    <span *ngIf="!in">{{ of.contributors | publisher:', ' }}</span>
    <!-- <span *ngIf="of.identifiers.length > 0" [innerHtml]="of.identifiers | identifier">
      </span> -->
      <!-- <span class="badge badge-info" *ngFor="let ident of of.identifiers">
        <span *ngIf="ident.scheme != 'URI'
        && ident.scheme != 'URL_CROSSREF'
        && ident.scheme != 'URL_SWB'"> {{ident.scheme}}: {{ident.literalValue}} </span>
        <u *ngIf="ident.scheme == 'URI'
        || ident.scheme == 'URL_CROSSREF'
        || ident.scheme == 'URL_SWB'" (click)="open_link(ident.literalValue)">
        {{ident.scheme}}: {{ident.literalValue.split("/")[2]}}</u>
        </span> -->
        <!-- <span class="badge badge-info" *ngFor="let ident of of.identifiers"> -->
        <!-- <span *ngIf="ident.scheme != 'URI'
          && ident.scheme != 'URL_CROSSREF'
          && ident.scheme != 'URL_SWB'"> {{ident.scheme}}: {{ident.literalValue}} </span> -->
        <!-- <u *ngIf="ident.scheme == 'URI'
          || ident.scheme == 'URL_CROSSREF'
          || ident.scheme == 'URL_SWB'" (click)="open_link(ident.literalValue)">
          {{ident.scheme}}: {{ident.literalValue.split("/")[2]}}</u>
          </span> -->
          <!-- <span class="badge badge-info" *ngIf="getClickableIDURL(of.identifiers)" (click)="open_link(getClickableIDURL(of.identifiers))"> -->
          <!--   {{getClickableIDName(of.identifiers)}} -->
          <!-- </span> -->
  </span>
  <span *ngIf="of && in">
    <!-- Both child and parent are given -->
    <em> in:&nbsp;</em>
    <span [innerHtml]="in | container:false"></span>
    </span>
  <span *ngIf="in && !of" [innerHtml]="in | container:true">
    <!-- Only parent is given -->
  </span>
  <span *ngIf="of">
    <!-- Some information that is only available when child is given -->
    <span *ngIf="of.embodiedAs && of.embodiedAs.length && of.embodiedAs[0].firstPage && of.embodiedAs[0].lastPage">
       pp. {{ of.embodiedAs[0].firstPage}}-{{ of.embodiedAs[0].lastPage}}</span>.
    <a class="badge badge-secondary ml-1" *ngIf="getClickableIDURL(of.identifiers)" [href]="getClickableIDURL(of.identifiers)" target="_blank">
      <i class="fa fa-external-link"></i> Online
    </a>
    <span class="badge badge-warning ml-1" *ngIf="in || of">{{in?.data?.source || of?.data?.source}}</span>
  </span>
</p>
