<span>
  <span *ngIf="of">
    <span *ngIf="of.type" class="badge badge-primary"> {{ of.type }} </span>
    <span *ngIf="!of.title" [innerHtml]="of | standard">
    </span>
    <span *ngIf="of.contributors"> {{ of.contributors | authors }} </span>
    <span *ngIf="of.publicationDate" class="badge badge-secondary"> {{ of.publicationDate | date:'yyyy' }} </span>
    <strong *ngIf="of.title || of.subtitle"> {{of.title}} {{ of.subtitle }}</strong>
    <span *ngIf="of.contributors.length > 0">,
    {{ of.contributors | publisher }}
    </span>
    <!-- <span class="badge badge-info" *ngFor="let ident of of.identifiers"> -->
    <!--   <span *ngIf="ident.scheme != 'URI' -->
    <!--   && ident.scheme != 'URL_CROSSREF' -->
    <!--   && ident.scheme != 'URL_SWB'"> {{ident.scheme}}: {{ident.literalValue}} </span> -->
    <!--   <u *ngIf="ident.scheme == 'URI' -->
    <!--   || ident.scheme == 'URL_CROSSREF' -->
    <!--   || ident.scheme == 'URL_SWB'" (click)="open_link(ident.literalValue)"> -->
    <!--     {{ident.scheme}}: {{ident.literalValue.split("/")[2]}}</u> -->
    <!-- </span> -->
    <span class="badge badge-warning" *ngIf="of">{{of.data.source}}</span>
  </span>
  <span *ngIf="of && in">
    <em>in:&nbsp;</em>
  </span>
  <span *ngIf="in" [innerHtml]="in | container">
  </span>.
  <span class="badge badge-warning" *ngIf="in && !of">{{in.data.source}}</span>
</span>
