{{diagnostic}}

<section class="container-fluid">
  <div class="row" style="margin-top: 10px">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <scan></scan>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Kandidaten auswählen</b></div>
        <div class="panel-body">
          <div class="list-group">
            <a href="#" *ngFor="let r of references" class="list-group-item list-group-item-action list-group-item-info" (click)="onSelect(r)">
              <span class="badge">{{r.source}}</span>
              <h5 class="list-group-item-heading"><b>{{r.title}}</b></h5>
              <p class="list-group-item-text">{{r.pretty_print_authors()}}</p>
              <p class="list-group-item-text">{{r.journal}}, {{r.year}}</p>
            </a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-warning" (click)="onSelect(null)">
              <span class="badge">LOCDB</span>
              <div align="center">
                <h5 class="list-group-item-heading"><b>New Entry</b></h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Auswahl bestätigen</b></div>
        <div class="panel-body">
          <!-- <form *ngIf="active" (ngSubmit)="onSubmit()" #citationForm="ngForm"> -->
          <form (ngSubmit)="onSubmit()" #citationForm="ngForm">
            <div class="form-group">
              <label for="type">Typ</label>
              <select class="form-control"  id="reftype"
                                            required
                                            [(ngModel)]="model.reftype" name="reftype">
                <option *ngFor="let t of reftypes" [value]="t">{{t}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="title">Titel</label>
              <input type="text" class="form-control" id="title"
                                                      required
                                                      [(ngModel)]="model.title" name="title"
                                                                                #title="ngModel">
            </div>
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
              Title is required
            </div>

            <div class="form-group">
              <label for="author">Autoren</label>
              <div class="row" *ngFor="let author of model.authors; let i=index">
                <div class="col-xs-6">
                  {{ author }}
                </div>
                <div class="col-xs-6">
                  <button class="btn btn-default" (click)="model.remove_author(i)">Entfernen</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <input type="text" class="form-control" id="author" name="author" [(ngModel)]="authorCandidate" placeholder="Neuer Autor">
                </div>
                <div class="col-xs-6">
                  <input type="button" (click)="addAuthorToModel()" value="Hinzufügen" class="btn btn-primary">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="year">Jahr</label>
                  <input type="number"  class="form-control" id="year" required
                                                             [(ngModel)]="model.year" name="year" #year="ngModel">
                </div>
                <div [hidden]="year.valid || year.pristine" class="alert alert-danger">
                  Year is required
                </div>
              </div>

              <div class="col-xs-8">
                <div class="form-group">
                  <label for="journal">Journal</label>
                  <input type="text"  class="form-control" id="journal"
                                                           [(ngModel)]="model.journal" name="journal">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="volume">Band</label>
                  <input type="number"  class="form-control" id="volume"
                                                             [(ngModel)]="model.volume" name="volume">
                </div>
              </div>
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="issue">Heft</label>
                  <input type="number"  class="form-control" id="issue"
                                                             [(ngModel)]="model.issue" name="issue">
                </div>
              </div>

              <div class="col-xs-4">
                <div class="form-group"> <label for="pages">Seite(n)</label>
                  <input type="text"  class="form-control" id="pages"
                                                           [(ngModel)]="model.pages" name="pages">
                </div>
              </div>

            </div>
            <!-- <button type="button" class="btn btn-default" (click)="prev()">Previous</button> -->
            <!-- <button type="button" class="btn btn-default" (click)="next()">Next</button> -->
            <div align="right">
              <button type="submit" class="btn btn-primary" [disabled]="!citationForm.form.valid">Bestätigen</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
