<div class="list-group">
  <!-- ngfor! -->
  <a href="#" class="list-group-item list-group-item-action active">
    <h5 class="list-group-item-heading">Title</h5>
    <p class="list-group-item-text">Author Year Journal</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <h5 class="list-group-item-heading">Title</h5>
    <p class="list-group-item-text">Author Year Journal</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <h5 class="list-group-item-heading">Title</h5>
    <p class="list-group-item-text">Author Year Journal</p>
  </a>
</div>
