{{diagnostic}}
<div class="panel panel-default">
  <div class="panel-heading"><b>Scan</b></div>
  <div class="panel-body">
    <div>
      <input class="form-control" type="file" (change)="onChange($event)">
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <img [src]="src" [hidden]="!src" class="img-responsive" alt="Specify file to inspect ...">
      </div>
    </div>
    <div align="right" [hidden]="!src">
      <button type="button" class="btn btn-default" (click)="next(-1)">Zurück</button>
      <button type="button" class="btn btn-default" (click)="next(1)">Weiter</button>
    </div>
  </div>
</div>
