<div class='panel panel-default text-right'>
  <div class='panel-heading' *ngIf='currentUser'>
    <span>
      Logged in as <strong>{{ currentUser.username }}</strong>
    </span> 
    <button class='btn btn-danger' (click)='onLogout()'>Logout</button>
  </div>
  <div *ngIf='!currentUser'>
    <label for="user">Username:</label>&nbsp;
    <input #user [disabled]='connecting' type='text' placeholder="Enter username">&nbsp;
    <label class="col-form-label" for="pass">Password:</label>&nbsp;
    <input #pass [disabled]='connecting' type='password' placeholder="Enter password">&nbsp;
    <!-- <button class='btn btn-default' [disabled]='connecting' (click)='onSignUp(instance.value, user.value, pass.value)'>Sign up</button> -->
    <button class='btn btn-primary' [disabled]='connecting' (click)='onSignIn(user.value, pass.value)'>Login</button>
  </div>
</div>
