<div class="panel panel-default"> 
    <div class="panel-heading">
        <b>{{title}}</b>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <button
                type="button"
                *ngFor="let s of scans"
                class="list-group-item list-group-item-action list-group-item-info justify-content-between"
                (click)="onSelect(s)"
                (disabled)="!(s.status === 'OCR_PROCESSED')">
                {{ s._id }} 
                <span class="badge badge-default badge-pill">{{ s.status === 'OCR_PROCESSED'}}</span>
            </button>
        </div>
        <div align="left">
            <button class="btn btn-default"> Upload files </button>
        </div>
    </div>
</div>
