                <!-- <div class="col-xs-4 text-center"> -->
                <!--   <div> -->
                <!--     <popover-content #myPopover -->
                <!--       title="Choose external resources" -->
                <!--       placement="auto" -->
                <!--       [closeOnClickOutside]="true"> -->
                <!--       <div class="list-group" style="height:400px; max-height:500px; overflow-y: auto;"> -->
                <!--         <a href="#" *ngFor="let r of exSuggests" class="list-group-item list-group-item-action list-group-item-info" (click)="inMerge(r)" (click)="myPopover.hide()"> -->
                <!--           <span class="badge badge-default badge-pill">{{ r.identifiers[r.identifiers.length - 1].scheme </span> -->
                <!--         </a> -->
                <!--       </div> -->
                <!--     </popover-content> -->
                <!--     <button [popover]="myPopover" (click)="loadExtenalSuggestions()">Show external resources</button> -->
                <!--   </div> -->
                <!-- </div> -->
<!-- <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
<!--   <div class="modal-dialog modal-lg"> -->
<!--     <div class="modal-content"> -->
<!--       <div class="modal-header"> -->
<!--         <h4 class="modal-title pull-left">Edit Resource</h4> -->
<!--         <button type="button" class="close pull-right" (click)="submitted = true" (click)="lgModal.hide()" aria-label="Close"> -->
<!--           <span aria-hidden="true">&times;</span> -->
<!--         </button> -->
<!--       </div> -->
<!--       <div class="modal-body"> -->
<!--         <1!-- <form *ngIf="editable" [formGroup]="resourceForm" (ngSubmit)="onSubmit()" novalidate>--> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
