<div class="container-fluid">
<div class="row">
  <div class="col-xs-12 col-md-6">
<div class="card">
  <div class="card-header">
        <h3>{{title}}</h3>
  </div>
  <div id="flup" class="card-body">
      <div class="list-group">
        <div *ngFor="let toDoScansWithMeta of listoffiles">
          <a href="#flup" class="list-group-item list-group-item-action" [class.list-group-item-danger]="toDoScansWithMeta.err" [class.list-group-item-warning]="!toDoScansWithMeta.err && !toDoScansWithMeta.allset" [class.list-group-item-success]="!toDoScansWithMeta.err && toDoScansWithMeta.allset" (click)="onSelect(toDoScansWithMeta); $event.preventDefault(); $event.stopPropagation()">
            {{getName(toDoScansWithMeta)}} 
            <span class="badge badge-primary">{{getMetadata(toDoScansWithMeta)}}
            </span>
            <button type="button" class="close pull-right" (click)="removeItemFromList(toDoScansWithMeta); $event.preventDefault(); $event.stopPropagation()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
          <div *ngIf="toDoScansWithMeta === selected">
            <br/>
            <form>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td><select name="idtype" [(ngModel)]="toDoScansWithMeta.identifier.scheme">
                        <option value="ppn">PPN</option>
                        <option value="doi" [disabled]="toDoScansWithMeta.resourceType !== ResourceType.journal ">DOI</option>
                    </select></td>
                    <td><input type="text" name="_id" [(ngModel)]="toDoScansWithMeta.identifier.literalValue" style="width: 100%;"
                      class="form-control input-sm pull-right"></td>
                  </tr>
                  <tr *ngIf="toDoScansWithMeta.resourceType === ResourceType.collection">
                    <td><label>Pages</label> from <input type="number" name="firstpage" [(ngModel)]="toDoScansWithMeta.firstpage" style="width: 75%;"
                      class="form-control input-sm pull-right"></td>
                    <td> to <input type="number" name="firstlastpage" [(ngModel)]="toDoScansWithMeta.lastpage" style="width: 90%;"
                      class="form-control input-sm pull-right"></td>
                  </tr>
                  <tr>
                    <td><label for="typeselect">Resource Type</label></td>
                    <td>
                      <select [disabled]="!toDoScansWithMeta.file" name="typeselect" [(ngModel)]="toDoScansWithMeta.resourceType" style="width: 100%;"
                        class="form-control input-sm pull-right">
                        <option *ngFor="let rt of resourceTypes" [value]="rt">{{rt}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr *ngIf="toDoScansWithMeta.file && toDoScansWithMeta.file.name.toLowerCase().endsWith('.pdf')">
                    <td><label for="istextual">Is textual PDF?</label></td>
                    <td>
                      <input type="checkbox" name="istextual" [(ngModel)]="toDoScansWithMeta.textualPdf" style="width: 100%;" class="form-control input-sm pull-right">
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-warning" (click)="onclickclear()" [disabled]="uploading || !listoffiles[0]">Clear</button> &nbsp;
      <!-- <label class="btn btn-default"> -->
      <!--   Browse Files <input type="file" multiple (change)= "onChange($event)" hidden style="display: none !important;"> -->
      <!-- </label> &nbsp; -->
      <input type="file" multiple (change)="onChange($event)">
      <button type="button" class="btn btn-default" (click)="addId()"> Add Electronic Resource
      </button> &nbsp;
      <button type="button" class="btn btn-primary" (click)="onclickupload()" [disabled]="uploading || !listoffiles[0]">Upload</button>
    </div>
</div>
<!-- end of col -->
  </div>
  <div class="col-xs-12 col-md-6">
    <app-feed-reader></app-feed-reader>
  </div>
</div>
</div>
