<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row justify-content-between">
      <div class="col-xs-6 text-left">
        <h4><b>{{title}}</b></h4>
      </div>
      <div class="col-xs-6 text-right">
        <button (click)="fetchTodos()" type="button" class="btn btn-info" aria-label="Refresh">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">
      <div *ngFor="let t of all_todos()">
        <accordion>

            <accordion-group heading="{{t.title}} ({{t.publicationYear}}) {{printme(t)}}"
            panelClass = "panel-default">
              <app-resource-form [resource]="t"></app-resource-form>
              <a href="#" class="list-group-item list-group-item-action list-group-item-info"  (click)="onSelect(t)"> <!-- (click)="onSelectNew(s)"> -->
              <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-success" *ngFor="let s of c.scans" (click)="onSelect(s)">-->
                Scan <!-- on pp. {{s.firstPage}}-{{s.lastPage}} -->
                <span class="badge badge-default badge-pill">{{ prettyStatus(t) }}</span>
              </a>
            </accordion-group>

          <!-- <div class="list-group"> -->
            <!-- scans directly attached to the resource -->

            <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-success" *ngFor="let s of t.scans" (click)="onSelect(s)"> -->
            <!--   Scan on pp. {{s.firstPage}}-{{s.lastPage}} -->
            <!-- </a> -->
            <!-- <span class="badge badge-default badge-pill">{{ prettyStatus(s) }}</span> -->
<!--
            <div class="list-group" *ngFor="let c of t.parts">
              <!-- scans attached to children of resource
              <a href="#" class="list-group-item list-group-item-action list-group-item-success"  (click)="onSelect(c)"> <!-- (click)="onSelectNew(s)">
              <!-- <a href="#" class="list-group-item list-group-item-action list-group-item-success" *ngFor="let s of c.scans" (click)="onSelect(s)">
                Scan <!-- on pp. {{s.firstPage}}-{{s.lastPage}}
                <span class="badge badge-default badge-pill">{{ prettyStatus(c) }}</span>

            <a href="#" class="list-group-item list-group-item-action list-group-item-info ml-1" *ngFor="let s of t.scans" (click)="onSelect(s)">
              Scan on pp. {{s.firstPage}}-{{s.lastPage}}
              <span class="badge badge-default badge-pill">{{ prettyStatus(s) }}</span>
            </a>

            <!-- maybe include ml-1 as classes below for margin -->
            <div class="list-group" *ngFor="let c of t.children">
              <!-- <app-resource-form [resource]="c"></app-resource-form> -->
              <!-- scans attached to children of resource -->
              <a href="#" class="list-group-item list-group-item-action list-group-item-info" *ngFor="let s of c.scans" (click)="onSelect(s)">
                Scan on pp. {{s.firstPage}}-{{s.lastPage}}
                <span class="badge badge-default badge-pill">{{ prettyStatus(s) }}</span>

              </a>
            </div>
          <!-- </div> -->
        </accordion>
      </div>

  </div>
</div>
