<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row justify-content-between">
      <div class="col-xs-6 text-left">
        <h4><b>{{title}}</b></h4>
      </div>
      <div class="col-xs-6 text-right">
        <button (click)="fetchTodos()" type="button" class="btn btn-info" aria-label="Refresh">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">
      <div *ngFor="let t of all_todos()">
        <accordion>

          <accordion-group heading="{{t.title}} ({{t.publicationYear}})">
            <app-resource-form [resource]="t" [folded]="true"></app-resource-form>
          </accordion-group>

          <div class="list-group">
            <!-- scans directly attached to the resource -->
            <a href="#" class="list-group-item list-group-item-action list-group-item-info" *ngFor="let s of t.scans" (click)="onSelect(s)">
              Scan on pp. {{s.firstPage}}-{{s.lastPage}}
              <span class="badge badge-default badge-pill">{{ prettyStatus(s) }}</span>
            </a>
            <div class="list-group" *ngFor="let c of t.children">
              <!-- scans attached to children of resource -->
              <a href="#" class="list-group-item list-group-item-action list-group-item-info" *ngFor="let s of c.scans" (click)="onSelect(s)">
                Scan on pp. {{s.firstPage}}-{{s.lastPage}}
                <span class="badge badge-default badge-pill">{{ prettyStatus(s) }}</span>
              </a>
            </div>
          </div>
        </accordion>
      </div>

  </div>
</div>
