<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Ingest
      </h2>
      <p class="card-text">
        Ingest data by uploading scanned images, pdfs or supplying a web
        identifier of an electronic journal article. 
      </p>
      <a class="btn btn-primary" routerLink="/ingest">
        <i class="fa fa-upload" aria-hidden="true"></i>
        Start data ingestion
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Disambiguate
      </h2>
      <p class="card-text">
        Link references to the correct target resources.
      </p>
      <a class="btn btn-primary" routerLink="/disambiguate">
        <i class="fa fa-magic" aria-hidden="true"></i>
        Start linking references</a> </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Browse
      </h2>
      <p class="card-text">
        Browse and explore the database.
      </p>
      <a class="btn btn-primary" routerLink="/browse">
        <i class="fa fa-database" aria-hidden="true"></i>
        Start browsing
      </a>
    </div>
  </div>
</div>
