<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Ingest
      </h2>
      <p class="card-text">
        Ingest data by uploading scanned images, pdfs or by supplying a web
        identifier of an electronic journal article.
      </p>
      <a class="btn btn-primary btn-lg" routerLink="/ingest">
        <i class="fa fa-upload fa-lg" aria-hidden="true"></i>
        Ingest data
      </a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Resolve
      </h2>
      <p class="card-text">
        Link citations to the correct target bibliographic resources.
      </p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/resolve']" [queryParams]="{ OCR_PROCESSED: true}">
        <i class="fa fa-magic fa-lg" aria-hidden="true"></i> Resolve citation links</a> </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">
        Browse
      </h2>
      <p class="card-text">
        Explore the database.
      </p>
      <a class="btn btn-primary btn-lg" routerLink="/browse">
        <i class="fa fa-database fa-lg" aria-hidden="true"></i>
        Browse
      </a>
    </div>
  </div>

</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Stats</h2>
    <div class="card-body">
      <div *ngIf="!stats" class="loader">
      </div>
      <ul *ngIf="!!stats">
        <!-- Think of building a  " | keys " Pipe if not exists -->
        <li *ngFor="let statItem of stats">
          {{ statItem | json }}
        </li>
      </ul>
    </div>
  </div>
</div>
