<p>
  edit-view works!# <br>
  {{resource_id}}<br>
  {{entry_id}}<br>
  resource: {{resource}}<br>
  entry: {{entry}}

</p>
<div class="container">
  <!-- resource edit -->
  <div class="card" *ngIf="resource_id != 0 && entry_id == 0">
    <div class="card-header">
      <h3 class="card-title">
        Edit Ressource {{resource_id}}
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='resource'>
        <app-resource-form-basic [resource]="resource" (resourceChanged)="save_resourse($event)"></app-resource-form-basic>
      </div>
    </div>
  </div>
  <!-- entry edit -->
  <div class="card" *ngIf="resource_id != 0 && entry_id != 0 && entry_id != 'create'">
    <div class="card-header">
      <h3 class="card-title">
        Edit Entry {{entry_id}} attached to {{resource_id}}
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='entry'>
        <app-entry-form [entry]="entry" [resource]="resource" [active]="true" (done)="triggerBack()"></app-entry-form>
      </div>
    </div>
  </div>
  <!-- entry creation -->
  <div class="card" *ngIf="resource_id != 0 && entry_id == 'create'">
    <div class="card-header">
      <h3 class="card-title">
        Create Entry attached to {{resource_id}}
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='entry'>
        <app-entry-form [entry]="entry" [resource]="resource" [active]="true" (done)="triggerBack()"></app-entry-form>
      </div>
    </div>
  </div>
  <!-- error -->
  <div class="card" *ngIf="resource_id == 0 && entry_id == 0">
    <div class="card-header">
      <h3 class="card-title">
        heady heady head
      </h3>
    </div>
    <div class="card-body">
      <p>
        oohps!
      </p>
    </div>
  </div>
</div>
