<p>
  edit-view works!# <br>
  {{resource_id}}<br>
  {{entry_id}}<br>
  resource: {{resource}}<br>
  entry: {{entry}}

</p>
<div *ngIf="!request_answered && !request_failed" class="container">
  <div class="loader">
  </div>
</div>
<div *ngIf="request_answered" class="container">
  <!-- resource edit -->
  <div class="card" *ngIf="resource && !entry">
    <div class="card-header">
      <h3 class="card-title">
        Edit Resource
      </h3>
      <app-metadata [of]="resource" [in]="container"></app-metadata>
    </div>
    <div class="card-body">
      <app-resource-pair-form [resource]="resource" [alternate]="container" (resourceChange)="resource = $event; submitted = true" (alternateChange)="container = $event; submitted = true"></app-resource-pair-form>
    </div>
  </div>
  <!-- entry edit -->
  <div class="card" *ngIf="resource && entry && !!entry._id">
    <div class="card-header">
      <h3 *ngIf="resource" class="card-title">
        Edit Entry {{entry_id}} attached to <b *ngIf="resource.title">{{resource.title}}</b> <b *ngIf="!resource.title">{{resource_id}}</b>
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='entry'>
        <app-entry-form [entry]="entry" [resource]="resource" [active]="true" (done)="submitted = true"></app-entry-form>
      </div>
    </div>
  </div>
  <!-- entry creation, if entry has no _id it is new! :) -->
  <div class="card" *ngIf="resource && entry && !entry._id">
    <div class="card-header">
      <h3 *ngIf="resource" class="card-title">
        Create Entry attached to <b *ngIf="resource.title">{{resource.title}}</b> <b *ngIf="!resource.title">{{resource_id}}</b>
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='entry'>
        <app-entry-form [entry]="entry" [resource]="resource" [active]="true" (done)="submitted = true"></app-entry-form>
      </div>
    </div>
  </div>
  <div *ngIf="submitted" class="alert alert-success" style="margin-top: 1rem;">
    Changes have been saved. <button type="button" class="btn btn-primary" (click)="triggerBack()">Back</button>
  </div>
  <!-- error -->
  <div class="card" *ngIf="!resource">
    <div class="card-header">
      <h3 class="card-title">
        Error!
      </h3>
    </div>
    <div class="card-body">
      <p>
        No (valid) identifiers were supplied...
      </p>
    </div>
  </div>
</div>
