<!-- <p>
  edit-view works!# <br>
  {{resource_id}}<br>
  {{entry_id}}<br>
  resource: {{resource}}<br>
  entry: {{entry}}

</p> -->
<div *ngIf="!request_answered && !request_failed" class="container">
  <div class="loader">
  </div>
</div>
<div *ngIf="request_answered" class="container">
  <!-- resource edit -->
  <div class="card" *ngIf="resource && !entry">
    <div class="card-header">
      <h3 class="card-title">
        Edit Resource
      </h3>
      <app-metadata [of]="resource" [in]="container"></app-metadata>
    </div>
    <div class="card-body">
      <app-resource-form [resource]="resource" [alternate]="container"></app-resource-form>
    </div>
  </div>
  <!-- entry edit -->
  <div class="card" *ngIf="resource && entry">
    <div class="card-header">
      <h3 *ngIf="resource" class="card-title">
        Edit Entry {{entry_id}} attached to <b *ngIf="resource.title">{{resource.title}}</b> <b *ngIf="!resource.title">{{resource_id}}</b>
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='entry'>
        <app-entry-form [entry]="entry" [resource]="resource" [active]="true" (done)="triggerBack()"></app-entry-form>
      </div>
    </div>
  </div>
  <!-- entry creation, if entry has no _id it is new! :) -->
  <div class="card" *ngIf="resource && entry && !entry._id">
    <div class="card-header">
      <h3 *ngIf="resource" class="card-title">
        Create Entry attached to <b *ngIf="resource.title">{{resource.title}}</b> <b *ngIf="!resource.title">{{resource_id}}</b>
      </h3>
    </div>
    <div class="card-body">
      <div class="container" *ngIf='entry'>
        <app-entry-form [entry]="entry" [resource]="resource" [active]="true" (done)="triggerBack()"></app-entry-form>
      </div>
    </div>
  </div>
  <!-- error -->
  <div class="card" *ngIf="!resource">
    <div class="card-header">
      <h3 class="card-title">
        Oohps!
      </h3>
    </div>
    <div class="card-body">
      <p>
        No (valid) identifiers were supplied...
      </p>
    </div>
  </div>
</div>
