<div class="card" (click)=ngOnInit()>
  <div class="card-header">
    <h4>{{title}}</h4>
  </div>
  <div class="card-body">
    <div *ngIf="feeds">
      <div class="card-block" *ngFor="let feed of feeds">
        <app-feed [url]="feed.url"></app-feed>
      </div>
    </div>
    <p class="card-text" *ngIf="!feeds">
      <em>Please sign in.</em>
    </p>
  </div>
  <div class="card-footer">
    <input #newURL type="text"
    (keyup.enter)='addFeed(newURL.value);'
    (blur)="addFeed(newURL.value); newURL.value ='';">
  </div>
</div>
