<div class="panel panel-default" (click)=ngOnInit()>
  <div class="panel-heading">
    <h4><b>{{title}}</b></h4>
  </div>
  <div *ngIf="feeds" class="panel-body">
    <div *ngFor="let feed of feeds">
      <app-feed [url]="feed.url"></app-feed>
    </div>
  </div>
  <div class="panel-body" *ngIf="!feeds">
    <h4>Please sign in.</h4>
  </div>
  <div class="panel-footer">
    <input #newURL type="text"
    (keyup.enter)='addFeed(newURL.value);'
    (blur)="addFeed(newURL.value); newURL.value ='';">
  </div>
</div>
