<div class="card" *ngFor="let todo of todos">
  <app-metadata [of]=todo></app-metadata>
  <ul *ngIf="todo.embodiments && todo.embodiments.length">
    <li *ngFor="let embodiment of todo.embodiments">
      <app-embodiment [embodiment]="embodiment"></app-embodiment>
    </li>
  </ul>

  <ul>
    <li *ngFor="let child of todo.children">

      <ul *ngIf="child.embodiments && child.embodiments.length">
        <li *ngFor="let embodiment of child.embodiments">
          <app-embodiment [embodiment]="embodiment"></app-embodiment>
        </li>
      </ul>

    </li>
  </ul>

</div>
