<!-- not used in agenda -->
<p>
  {{ embodiment.firstPage }} - {{embodiment.lastPage}} {{ embodiment.type }} {{ embodiment.format}}
</p>
<a *ngIf="embodiment.url" [href]="embodiment.url">Inspect Source</a>
<ul *ngIf="embodiment.scans">
  <li *ngFor="let scan of getScans()">
    <a href="#" (click)="selectScan(scan); false"> {{ scan.scanName }}</a>
     <i *ngIf="printState(scan) === 'not OCR processed'" class="fa fa-play-circle" aria-hidden="true"  (click)="ocrprocess(scan)"></i>
  </li>
</ul>
