<div>
    <app-metadata [of]="todo"></app-metadata>
    <div class="text-right">
        <div class="btn-group" dropdown [style.visibility]="!(embodiment_scans && embodiment_scans.length) ? 'hidden' : 'visible'">
            <button id="button-basic" dropdownToggle type="button" class="btn
            btn-secondary btn-sm dropdown toggle">
                <i class="fa fa-file"></i> Scans
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
                <li *ngFor="let emsc of embodiment_scans; index as i" role="menuitem">
                    <a class="dropdown-item" (click)="inspectScan(emsc); false">
                        Page {{ this.unpackFirstPage(emsc) + i}}
                        <i *ngIf="isOcrTriggerable(emsc)" class="fa fa-play-circle" aria-hidden="true" (click)="triggerOcrProcessing(emsc[1]); $event.stopPropagation()"></i>
                    </a>
                </li>
            </ul>
        </div>&nbsp;
        <button type="button" class="btn btn-secondary btn-sm" (click)="inspectReferences()" [style.visibility]="!todo.parts.length? 'hidden' : 'visible'">
            <i class="fa fa-list"></i> References
        </button>&nbsp;
        <button type="button" class="btn btn-secondary btn-sm" (click)="edit()">
            <i class="fa fa-edit"></i> Edit
        </button>&nbsp;
        <button *ngIf="!isContainer" type="button" class="btn btn-success btn-sm" (click)="fullyValidateResource()">
            <i class="fa fa-check"></i> Done
        </button>

    </div> <!--close text right-->
</div>
