<div class="card card-body">
  <app-metadata [for]="this"></app-metadata>
  <button type="button" class="btn btn-primary" (click)=""> Inspect References </button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="embodiment-group" disabled="!todo.embodiments"> Embodiments </button>
    <ul id="embodiment-group" class="list-group list-group-flush "*ngIf="todo.embodiments && todo.embodiments.length">
      <li class="list-group-item" *ngFor="let embodiment of todo.embodiments">
        <app-embodiment [embodiment]="embodiment"></app-embodiment>
      </li>
    </ul>
</div>
