/* TODO: Code for Floating Action Button 
.share-wrapper {
      position: fixed;
      bottom: 15px;
      margin-left: -15px;
  }

  .share-dropdown-wrapper:hover {
      background: none;
  }

  .icon-material-share {
      border-radius: 100px;
      width: 62px;
      padding-left: 10px;
  }

  .share-ripple {
      border-radius: 100px;
  }*/
label {
  font-weight: bold;
}
