<div class="container">
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="card">
  <div class="card-header">
        <h2>{{title}}</h2>
        <hr/>
        <button type="button" class="btn btn-secondary" (click)="openModal(template)">Add Batch of Files</button>&nbsp;
        <button type="button" class="btn btn-secondary" (click)="addId()"> Add Electronic Resource</button>
  </div>
  <div id="flup" class="card-body" *ngIf="listoffiles && listoffiles.length">
      <div class="list-group">
        <div *ngFor="let toDoScansWithMeta of listoffiles">
          <a href="#flup" class="list-group-item list-group-item-action"
          [class.list-group-item-danger]="toDoScansWithMeta.err"
          [class.list-group-item-warning]="!toDoScansWithMeta.err && !toDoScansWithMeta.allset"
          [class.list-group-item-success]="!toDoScansWithMeta.err && toDoScansWithMeta.allset"
          (click)="onSelect(toDoScansWithMeta); $event.preventDefault(); $event.stopPropagation()">
            {{getName(toDoScansWithMeta)}}
            <span class="badge badge-primary">{{getMetadata(toDoScansWithMeta)}}
            </span>
            <button type="button" class="close pull-right"
            (click)="removeItemFromList(toDoScansWithMeta); $event.preventDefault(); $event.stopPropagation()"
            aria-label="Close" [disabled]="uploading">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
          <div *ngIf="toDoScansWithMeta === selected">
            <br/>
            <form>
              <table class="table">
                <tbody>
                  <tr>
                    <td><label for="typeselect">Resource Type</label></td>
                    <td>
                      <select name="typeselect" [(ngModel)]="toDoScansWithMeta.resourceType" style="width: 100%;"
                        class="form-control input-sm pull-right">
                        <option *ngFor="let rt of resourceTypes" [value]="rt">{{rt}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr class="form-group">
                    <td>
                      <select class="form-control" name="idtype" [(ngModel)]="toDoScansWithMeta.identifier.scheme" [disabled]="requiredIdentifiers[toDoScansWithMeta.resourceType].length <= 1">
                        <!-- <option value="ppn">PPN</option>
                          <option value="doi" [disabled]="toDoScansWithMeta.resourceType !== ResourceType.journal ">DOI</option> -->
                          <option *ngFor="let it of requiredIdentifiers[toDoScansWithMeta.resourceType]"
                                  [value]="it">{{it}}</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" name="_id"
                      [(ngModel)]="toDoScansWithMeta.identifier.literalValue" style="width: 100%;"
                      class="form-control input-sm pull-right">
                    </td>
                  </tr>
                  <tr *ngIf="toDoScansWithMeta.file &&
                        requiresPageNumbers(toDoScansWithMeta.resourceType, toDoScansWithMeta.identifier.scheme)">
                    <td><label>Pages</label> from <input type="number" name="firstpage"
                      [(ngModel)]="toDoScansWithMeta.firstpage" style="width: 75%;"
                      class="form-control input-sm pull-right"></td>
                    <td> to <input type="number" name="firstlastpage"
                      [(ngModel)]="toDoScansWithMeta.lastpage" style="width: 90%;"
                      class="form-control input-sm pull-right"></td>
                  </tr>
                  <tr *ngIf="toDoScansWithMeta.file">
                    <td><label for="embodimentselect">Embodiment Type</label></td>
                    <td>
                      <select name="embodimentselect" [(ngModel)]="toDoScansWithMeta.embodimentType"
                      style="width: 100%;"
                        class="form-control input-sm pull-right">
                        <option *ngFor="let et of embodimentTypes" [value]="et">{{et}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr *ngIf="toDoScansWithMeta.file &&
                          toDoScansWithMeta.file.name.toLowerCase().endsWith('.pdf')">
                    <td><label for="istextual">Is textual PDF?</label></td>
                    <td>
                      <input type="checkbox" name="istextual"
                      [(ngModel)]="toDoScansWithMeta.textualPdf"
                      style="width: 100%;"
                      class="form-control input-sm pull-right">
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
  </div> <!-- end of card body -->
    <div class="card-footer" *ngIf="listoffiles && listoffiles.length">
      <button type="button" class="btn btn-warning" (click)="onclickclear()"
      [disabled]="uploading || !listoffiles.length">Clear</button> &nbsp;
      <!-- <label class="btn btn-default"> -->
      <!--   Browse Files <input type="file" multiple (change)= "onChange($event)" hidden style="display: none !important;"> -->
      <!-- </label> &nbsp; -->
      <button type="button" class="btn btn-primary float-right" (click)="onclickupload()"
      [disabled]="uploading || !listoffiles.length">Upload</button>
    </div>
</div> <!-- end of card -->
</div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Batch Upload</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label> Resource Type:
      <select class="form-control input-sm" name="modaltypeselect" [(ngModel)]="batchInformation.resourceType" (change)=preselectBatchIdentifierScheme()>
        <option *ngFor="let rt of resourceTypes" [value]="rt">{{rt}}</option>
      </select>
    </label>
    <br>
    <label> Identifier Scheme:
      <select class="form-control input-sm" [(ngModel)]="batchInformation.identifierScheme">
        <option *ngFor="let scheme of requiredIdentifiers[batchInformation.resourceType]" [value]="scheme">{{scheme}}</option>
      </select>
    </label>
    <hr/>
      <input type="file" multiple (change)="onChange($event)">
      <!-- <button type="button" class="btn btn-primary" (click)="modalRef.hide(); openModal(template)">Select Files</button> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary float-right" (click)="confirmBatch()">Confirm </button>
  </div>

</ng-template>

<!-- TODO: Code for Floating Action Button
<div class="share-wrapper col-xs-1 col-xs-push-11">
   <a href="javascript:void(0)" style="background: none">
     <i class="icon icon-material-share btn btn-info btn-raised withripple"
     style="color: #03a9f4; background: rgba(255, 255, 255, 0.90); font-size: 30px; padding-left: 16px; padding-top: 14px; height: 60px;">
       <div class="share-ripple ripple-wrapper"><span class="glyphicon glyphicon-search"></span></div>
       </i>
    </a>
</div>  -->
