<div>
  <label>
    Type:&nbsp;
  </label>
  <span class="badge badge-primary"> {{ this.resource.type }}</span>&nbsp;
  <button type="default" class="btn btn-default btn-sm">Change</button>
</div>

<div>
<span *ngIf="resource.partOf">
  <em>Part of:</em> {{ resource.partOf }} 
</span>
<span *ngIf="!resource.partOf">
  <em> -Standalone- </em>
</span>
</div>
<div *ngIf="!resource.partOf">
<label for="currentView">View and edit attributes for:
  <select id="currentView" class="form-control" [(ngModel)]="currentView" [disabled]="!(allowedViews.length > 1)">
    <option *ngFor="let view of allowedViews" [value]="view">{{view}}</option>
  </select>
</label>
</div>
<hr/>
<app-resource-form [resource]="resource"></app-resource-form>
