<div class="card">
  <div class="card-header">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
      <div class="btn-group mr-2" role="group" aria-label="Back" >
        <button type="button" class="btn btn-danger" (click)="back()">Back</button>
      </div>
      <div class="btn-group" role="group" aria-label="Toggle scan view">
        <button type="button" class="btn btn-secondary" (click)="hideScan()" [class.active]="!scanIsVisible">
          Reference list 
        </button>
        <button type="button" class="btn btn-secondary" (click)="showScan()" [class.active]="scanIsVisible" [disabled]="!scanAvailable">
          Scan view
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div *ngIf="scanAvailable" [hidden]="!scanIsVisible">
      <app-display [img_src]="locdbService.getScan(todo._id)" [entries]="entries" (entry)="forwardEntry($event)"></app-display>
    </div>
    <div [hidden]="scanIsVisible">
      <app-entry-list [entries]="entries" (entry)="forwardEntry($event)"></app-entry-list>
    </div>
    <div *ngIf="loading" class="loader">
    </div>
  </div>

</div>
