/*figure {
  cursor: pointer;
  border: 5px solid white;
  -webkit-box-shadow: 0 0 22px rgba(0,0,0,.5);
}

figure svg {
  -webkit-transition: all 2s;
  position: relative;
   z-index: 999;
}

figure:hover svg {
  -webkit-transform: scale(1.5) translate(+25%, 0px);
}*/

rect {
        stroke: #5bc0de;
        stroke-width: 3;
        fill-opacity: 0.1;
        fill-color: #f9f9f9;
}

.selected {
        stroke: #428bca;
        stroke-width: 7;
        fill-opacity: 0.2;
        /* stroke-width: 1; */
        /* fill-opacity: 0; */
}

.todo {
        stroke: #d9534f;
        /* stroke-width: 1; */
        /* fill-opacity: 0; */

}

.done {
        stroke: #5cb85c;
        /* stroke-width: 1; */
        /* fill-opacity: 0; */
}
