<todolist *ngIf="!displayActive" (todo)="updateDisplay($event)"></todolist>
<div *ngIf="displayActive" class="panel panel-default">
  <div class="panel-heading"><b>{{title}}</b>
    <div align="right">
      <button (click)="clear()" class="btn">Clear</button>
    </div>
  </div>

  <div class="panel-body">
    <img [src]="displaySource" [hidden]="!displaySource" style="width: 100%;" alt="Display of the scanned bibliographic entries">
  <div align="right">
    <b>Current Entry:</b> {{ currentIndex + 1 }}
  </div>
  <div align="right">
    <!-- <button class="btn btn-default" (click)="newCustomEntry()">Custom entry</button> -->
    <button class="btn btn-default" (click)="next(-1)">Previous</button>
    <button class="btn btn-default" (click)="next(1)">Next</button>
  </div>
  </div>
</div>
<scan></scan>
