<todolist *ngIf="!displayActive" (todo)="updateDisplay($event)"></todolist>
<div *ngIf="displayActive" class="panel panel-default">
<div class="panel-heading"><b>{{title}}</b>
    <div align="right">
    <button (click)="clear()" class="btn">Clear</button>
    </div>
</div>

<div class="panel-body">
    <!--img [src]="displaySource" [hidden]="!displaySource" style="width: 100%;" alt="Display of the scanned bibliographic entries"-->

    <!--image [attr.src]="displaySource" style="width: 100%;height: 100%"/-->
    <figure>
    <svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="'0 0 ' + imgX + ' ' + imgY">
        <image [attr.xlink:href]="displaySource" [attr.height]="imgY + 'px'" [attr.width]="imgX + 'px'"/>
        <rect *ngFor="let rect of rects; let i=index" [attr.x]="rect.x" [attr.y]="rect.y" [attr.height]="rect.height" [attr.width]="rect.width"
         style="stroke: #009900; stroke-width:1; fill-opacity:0.0;" (click)="rectLink(i)"/>
        <!-- rect *ngFor="let rect of rects" x="85" y = "100" width="175" height = "10"
            style="stroke: #009900;stroke-width:10; fill-opacity:0.0;" (click)="rectLink(1)"/ -->
            <!-- image xlink:href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Anectropis_fumigata.jpg/220px-Anectropis_fumigata.jpg" height="50px" width="100px"/ -->

    </svg>
    </figure>
    <!--text>{{displaySource}}</text-->
    <!--circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" /-->
    
<div align="right">
    <b>Current Entry:</b> {{ currentIndex + 1 }}
</div>
<div align="right">
    <button class="btn btn-default" (click)="newCustomEntry()">Custom entry</button>
    <button class="btn btn-default" (click)="next(-1)">Previous</button>
    <button class="btn btn-default" (click)="next(1)">Next</button>
</div>
</div>
</div>
<scan></scan>
