figure {
  cursor: pointer;
  border: 5px solid white;
  -webkit-box-shadow: 0 0 22px rgba(0,0,0,.5);
}

figure svg {
  -webkit-transition: all 1.5s;
}

figure:hover svg {
  -webkit-transform: scale(1.5);
}
