figure {
  cursor: pointer;
  border: 5px solid white;
  -webkit-box-shadow: 0 0 22px rgba(0,0,0,.5);
}

figure svg {
  -webkit-transition: all 0.5s;
  position: relative;
   z-index: 999;
}

figure:hover svg {
  -webkit-transform: scale(3.5) translate(+30%, 0px);
}
