<!-- Panel heading including search bar -->
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ title }}</h3>
      <!-- Search bar -->
      <div class="input-group">
        <div class="input-group-prepend">
          <input [(ngModel)]="internalThreshold" class="form-control" type="number" min=5 step=5 placeholder="Limit (default 20)">
        </div>
        <input [(ngModel)]="query" (keyup.enter)="refresh()" type="text" class="form-control" placeholder="Search..." aria-label="Search bar" aria-describedby="search-button">
        <div class="input-group-append">
          <button (click)="refresh()" type="button" class="btn btn-primary" id="search-button"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>
      <!-- Search bar END -->
    </div>
    <div class="card-body">
      <div *ngFor="let pair of internalSuggestions; let i = index">
        <app-resource-card [resources]="pair" [selected]="pair == selectedResource" (click)="onSelect(pair)">
        </app-resource-card>
      </div>
      <div *ngIf="internalInProgress" class="loader">
      </div>
    </div>
  </div>
</div>
