<div class="panel panel-default">
  <div class="panel-heading"><b>Kandidaten auswählen</b></div>
  <div class="panel-body">
    <div class="list-group">
      <a href="#" *ngFor="let r of references" class="list-group-item list-group-item-action list-group-item-info" (click)="onSelect(r)">
        <span class="badge">{{r.source}}</span>
        <h5 class="list-group-item-heading"><b>{{r.title}}</b></h5>
        <p class="list-group-item-text">{{r.pretty_print_authors()}}</p>
        <p class="list-group-item-text">{{r.journal}}, {{r.year}}</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-warning">
        <span class="badge">LOCDB</span>
        <div align="center">
          <h5 class="list-group-item-heading"><b>New LOC-DB entry</b></h5>
        </div>
      </a>
    </div>
  </div>
</div>
